/*font face  */
@font-face {
    font-family: "akhand";
    src: url("../fonts/akhand.otf");
    font-weight: normal;
    font-size: medium;
}
/* main content */
.dashboard-body {
    background-color: #f4f9f9;
}
.dashboard-container {
    width: 85%;
    height: auto;
    margin: 20px auto;
    padding: 5%;
}
.welcome-heading {
    font-family: "akhand", sans-serif;
}
.owner-tools {
    margin: 10px auto;
    width: 100%;
    height: auto;
    padding: 10px;
    display: flex;
    flex-wrap: wrap;
}
.houses,
.booked,
.rented,
.tenants {
    margin: 10px;
    width: 250px;
    height: 150px;
}
.houses {
    background-color: #079992;
}
.booked {
    background-color: #38ada9;
}
.rented {
    background-color: #78e08f;
}
.tenants {
    background-color: #b8e994;
}
.houses h1,
.booked h1,
.rented h1,
.tenants h1 {
    margin: 10px auto 10px 10px;
    font-family: "akhand", sans-serif;
    font-size: 3rem;
}
.houses p,
.booked p,
.rented p,
.tenants p,
.occupied p {
    margin: 30px auto 10px 10px;
    font-family: "akhand", sans-serif;
    font-size: 1.5rem;
}
.houses p span,
.booked p span,
.rented p span,
.tenants p span,
.occupied p span {
    border: none;
    outline: none;
    border-radius: 2px;
    padding: 2px 3px;
    font-size: 0.75rem;
    background-color: #fc5c65;
    font-family: "Epilogue", sans-serif;
}
.houses p span a,
.booked p span a,
.rented p span a,
.tenants p span a,
.occupied p span a {
    color: #dddddd;
    text-decoration: none;
}
.btn-container {
    display: inline-block;
    margin-left: 10px;
}
.add-btn {
    background-color: #fc5c65;
    color: #dddddd;
    text-transform: uppercase;
}
.remove-btn {
    background-color: #fc5c65;
    color: #dddddd;
    text-transform: uppercase;
}
.tenant-tools {
    margin: 10px auto;
    width: 100%;
    height: auto;
    padding: 10px;
    display: flex;
    flex-wrap: wrap;
}
.occupied {
    margin: 10px;
    width: 250px;
    height: 150px;
    background-color: #0a3d62;
}
.occupied h1 {
    margin: 10px auto 10px 10px;
    font-family: "akhand", sans-serif;
    font-size: 3rem;
}
.occupied p {
    margin: 30px auto 10px 10px;
    font-family: "akhand", sans-serif;
    font-size: 1.5rem;
}
