* {
    margin: 0;
    padding: 0;
    scroll-behavior: smooth;
    box-sizing: border-box;
}
.register-body {
    color: #636e72;
    font-family: "Epilogue", sans-serif;
    background-color: #f4f9f9;
}
.register-container {
    width: 60%;
    height: auto;
    margin: 30px auto;
    background-color: rgba(183, 235, 235, 0.4);
    border-radius: 8px;
}
.register-container form {
    margin: 20px auto;
    /* border: 1px solid #636e72; */
    text-align: center;
    padding: 10px;
    border-radius: 3px;
}
.personal-info,
.contact-info,
.password-info {
    width: 100%;
    margin: 10px auto;
    padding: 15px;
}
.personal-info h3,
.contact-info h3,
.password-info h3 {
    font-size: 1.5rem;
    font-family: "akhand";
    text-align: left;
    padding: 0 40px;
}
.ipfield {
    width: 85%;
    margin: 0px auto;
    padding: 12px 18px;
}
.ipfield label {
    display: block;
    text-align: left;
    text-transform: uppercase;
    font-size: 0.75rem;
    color: #2d3436;
}
.ipfield input {
    width: 100%;
    border: none;
    outline: none;
    background: none;
    font-size: 1rem;
    border-bottom: 2px solid #636e72;
}
.gender-select input {
    width: auto;
    margin: 0 10px 0 30px;
}
.submit-reset {
    display: block;
    margin: 20px auto 10px;
    text-align: center;
}
.submit-reset input {
    color: #dddddd;
    text-transform: uppercase;
    background: #fc5c65;
    cursor: pointer;
    width: 35%;
    padding: 10px;
    margin: 20px 30px;
    border: none;
    border-radius: 8px;
    outline: none;
}
