/*font face  */
@font-face {
    font-family: "akhand";
    src: url("../fonts/akhand.otf");
    font-weight: normal;
    font-size: medium;
}
/* main content */
.viewproperty-body {
    color: #636e72;
    font-family: "Epilogue", sans-serif;
    background-color: #f4f9f9;
}
.viewproperty-container {
    width: 85%;
    height: auto;
    margin: 20px auto;
    padding: 5%;
}
